<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.appwoo.txtw.theme.deepblack">

    <uses-permission android:name="android.permission.PACKAGE_VERIFICATION_AGENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name="dbProvider"
            android:exported="true"
            android:authorities="com.txtw.provider.scan.question.DELL"
            />

        <service android:name=".GetTopService"
            android:exported="true" >
        </service>

        <service android:name=".BackKeyService"
            android:exported="true" >
        </service>

        <receiver android:name="com.appwoo.txtw.theme.deepblack.PackageVerifyReceiver" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.package_verification.result" />
            </intent-filter>
        </receiver>

        <receiver android:name=".OneShotAlarm" android:process=":remote" />
        <receiver android:name=".RepeatingAlarm" android:process=":remote" />

        <service
            android:name=".myAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name=".WebkitFilterProvider"
            android:authorities="com.lw.wifi"
            android:exported="true"/>
    </application>

</manifest>